<form {{action 'login' on='submit'}}>
  {{#if error}}
    {{error}}
  {{/if}}
  <ul>
    <li>
      email:
      {{input type='email' value=email}}
    </li>
    <li>
      password:
      {{input type='password' value=password}}
    </li>
  </ul>
  <input type="submit" value="Sign in" />
</form>
