<h2>Edit user</h2>
<form {{action 'editUser' model on='submit'}}>
  <ul>
    <li>
      <label for="email">email (can't be changed)</label> 
      <input name="email" type="text" value="{{model.email}}" disabled="disabled"></li>
    <li>
      <label for="role">role</label>
      {{user-role-select user=model roles=roles tagName=''}}
    </li>
  </ul>
  <input type="submit" value="Update" />
</form>
