<h2>Users management</h2>
{{#link-to 'admin.users.new' class='button'}}New user{{/link-to}}
<table class="users">
  <thead>
    <tr>
      <th>User</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |user|}}
      {{admin-user-item user=user delete='deleteUser' tagName=''}}
    {{/each}}
  </tbody>
</table>
