<h2>Edit expense</h2>
{{#expense-form expense=model.expense date=expense-date action=(action 'editExpense' model.expense) submit='Update'}}
  <li>
    <label for="user">user</label>
    {{user-select action=(action 'setUser') model=model.expense users=model.users tagName=''}}
  </li>
{{/expense-form}}
