<h2>Expenses management</h2>
{{#link-to 'admin.expenses.new' class='button'}}New expense{{/link-to}}

<form class="filter">
  <ul>
    <li>
      <label for="user">filter by user</label>
      {{user-select action=(action 'filterUser') model=model.expenses users=model.users default=true tagName=''}}
    </li>
  </ul>
</form>
<table class="expenses">
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  
 {{#each model.expenses as |expense|}}
    {{admin-expense-item expense=expense delete='deleteExpense' tagName=''}}
  {{/each}}
  </tbody>
</table>
<ul class="expenses-stats">
  <li class="expenses-stats-stat">
    Total: 
    {{amount-in-dollars model.expenses.meta.total-expense}}
  </li>
</ul>
