<h2>New Expense</h2>
{{#expense-form expense=model.expense action=(action 'createExpense' model.expense) submit='Create'}}
  <li>
    user:
    {{user-select action=(action 'setUser') model=model.expense users=model.users}}
  </li>
{{/expense-form}}
